@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400;800&family=MuseoModerno&display=swap');


/* font-family: 'Lato',sans-serif;
font-family: 'Montserrat',sans-serif;
font-family: 'MuseoModerno',cursive; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* .banner{
    background-image: url("/images/banner2.jpg");
} */



a{
    text-decoration: none;
    color: gold;
}